<div class="hidden-print">

    <h1>{{ exam.l_name }} {{ exam.m_initial }}, {{ exam.f_name }}</h1>
    Test Date: <input type="date" id="datePicker" ng-model="exam.testDate" value=""/> <button class="btn btn-primary" ng-click="submitTestDate()">Save</button>
    <h2><span class="label label-default">{{ exam.essay_num }}</span></h2>
    Essay Number: <input ng-if="!essayNumPresent" ng-model="exam.essay_num" type="number"> <button ng-if="!essayNumPresent" class="btn btn-primary" ng-click="submitEssayNum()">Save</button>
    <br>
    <a href="javascript:window.print()" class="btn primary large hidden-print">Print</a>
    <hr>
    <div class="row">


        <div class="col-md-6">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Placement Overall Score</h3>
                </div>
                <div class="panel-body">
                    <h4>Math Score: <span class="label label-default">{{ exam.math_score }}</span></h4>
                    <h4>ESL Accuplacer Score: <span class="label label-default">{{ exam.accuplacer_score }}</span> = <span class="label label-info">{{ exam.accuplacer_level }}</span></h4>
                    <h4>Writing Sample Score: <span class="label label-default">{{ exam.writing_sample_score }}</span> = <span class="label label-info">{{ exam.writing_sample_level }}</span></h4>
                    <h3>English Level: <span class="label label-success">{{ exam.final_placement_level }}</span></h3>
                    <h3>Math Level: <span class="label label-success">{{ exam.math_level }}</span></h3>
                </div>

            </div>

            <div class="panel panel-warning" ng-show="showFacultyInput">
                <div class="panel-heading">
                    <h3 class="panel-title">Faculty Input Score:</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <label class="radio">
                            <input type="radio" name="facultyRadio" id="facScore0" value=0 ng-model="facRadioChoice"> 0 - GED
                        </label>
                        <label class="radio">
                            <input type="radio" name="facultyRadio" id="facScore1" value=1 ng-model="facRadioChoice"> 1 - Level 1 English (ENG 66/68)
                        </label>
                        <label class="radio">
                            <input type="radio" name="facultyRadio" id="facScore2" value=2 ng-model="facRadioChoice"> 2 - Level 2 English (ENG 86/88)
                        </label>
                        <label class="radio">
                            <input type="radio" name="facultyRadio" id="facScore3" value=3 ng-model="facRadioChoice"> 3 - Level 3 English (ENG 96/98)
                        </label>
                        <label class="radio">
                            <input type="radio" name="facultyRadio" id="facScore4" value=4 ng-model="facRadioChoice"> 4 - Credit (ENG 101,105)
                        </label>
                        <button class="btn btn-primary" ng-click="submitFacScore()">Submit</button>
                    </form>
                </div>

            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Writing Sample Score</h3>
                </div>
                <div class="panel-body">
                    <h4>Please Submit the Writing Sample Score:</h4>
                    <form>
                        <label class="radio">
                            <input type="radio" name="writingSampleRadio" id="wsScore0" value=0 ng-model="wsRadioChoice"> 0 - GED
                        </label>
                        <label class="radio">
                            <input type="radio" name="writingSampleRadio" id="wsScore1" value=1 ng-model="wsRadioChoice"> 1 - Level 1 English (ENG 66/68)
                        </label>
                        <label class="radio">
                            <input type="radio" name="writingSampleRadio" id="wsScore2" value=2 ng-model="wsRadioChoice"> 2 - Level 2 English (ENG 86/88)
                        </label>
                        <label class="radio">
                            <input type="radio" name="writingSampleRadio" id="wsScore3" value=3 ng-model="wsRadioChoice"> 3 - Level 3 English (ENG 96/98)
                        </label>
                        <label class="radio">
                            <input type="radio" name="writingSampleRadio" id="wsScore4" value=4 ng-model="wsRadioChoice"> 4 - Credit (ENG 101,105)
                        </label>
                        <button class="btn btn-primary" ng-click="submitWsScore()">Submit</button>
                    </form>

                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <strong>Social Security Number: </strong><input type="text" ng-model="exam.ssn" placeholder="{{exam.ssn}}"/><br>
                        <strong>Date of Birth: </strong><input type="date" ng-model="exam.dob" /> {{exam.dob | date}}<br>
                        <strong>High School: </strong><input type="text" ng-model="exam.hs" placeholder="{{exam.hs}}"/><br>
                        <strong>Gender: </strong><input type="text" ng-model="exam.gender" placeholder="{{exam.gender}}"/><br>
                        <strong>Has taken placement test before?: </strong><input type="checkbox" ng-model="exam.taken" checked="exam.taken"/><br>
                        <strong>If taken before, when?: </strong><input type="text" ng-model="exam.taken_year" placeholder="{{ exam.taken_year }}"/><br>
                        <strong>Exam Year: </strong><input type="text" ng-model="exam.exam_year" placeholder="{{exam_year}}"/><br>
                        <strong>SIS Student No.: </strong><input type="text" ng-model="exam.sis_stud_no" placeholder="{{sis_stud_no}}"/><br>
                        <strong>SIS Full Name: </strong><input type="text" ng-model="exam.sis_full_name" placeholder="{{sis_full_name}}"/><br>
                        <strong>SIS Registration Date: </strong><input type="date" ng-model="exam.sis_r_date_as_new" /> {{exam.sis_r_date_as_new | date}}<br>
                        <button class="btn btn-primary" type="submit" ng-click="savePersonalInfo()">Save</button>
                    </form>

                </div>


            </div>

        </div>


        <div class="col-md-1"></div>

        <div class="panel panel-primary col-md-6">
            <div class="panel-heading">
                <h3 class="panel-title">Accuplacer Test Results</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success"><p><strong>Overall Grade: </strong>{{ exam.overall_grade }}</p></li>
                    <li class="list-group-item list-group-item-success"><p><strong>Overall Percent Score: </strong>{{ exam.overall_percent_score }}%</p></li>
                    <li class="list-group-item list-group-item-success"><p><strong>Overall Total Score: </strong>{{ exam.overall_total_score }}</p></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info"><p><strong>English Level: </strong>{{ exam.accuplacer_level }}</p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>English Total Score: </strong>{{ exam.lu_total_score + exam.ss_total_score + exam.rs_total_score }}</p></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item"><p><strong>Language Grade: </strong>{{ exam.lu_grade }}</p></li>
                    <li class="list-group-item"><p><strong>Language Percent Score: </strong>{{ exam.lu_percent_score }}%</p></li>
                    <li class="list-group-item"><p><strong>Language Total Score: </strong>{{ exam.lu_total_score }}</p></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item"><p><strong>Sentence Skill Grade: </strong>{{ exam.ss_grade }}</p></li>
                    <li class="list-group-item"><p><strong>Sentence Skill Percent Score: </strong>{{ exam.ss_percent_score }}%</p></li>
                    <li class="list-group-item"><p><strong>Sentence Skill Total Score: </strong>{{ exam.ss_total_score }}</p></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item"><p><strong>Reading Skill Grade: </strong>{{ exam.rs_grade }}</p></li>
                    <li class="list-group-item"><p><strong>Reading Skill Percent Score: </strong>{{ exam.rs_percent_score }}%</p></li>
                    <li class="list-group-item"><p><strong>Reading Skill Total Score: </strong>{{ exam.rs_total_score }}</p></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item"><p><strong>Elementary Algebra Grade: </strong>{{ exam.ea_grade }}</p></li>
                    <li class="list-group-item"><p><strong>Elementary Algebra Percent Score: </strong>{{ exam.ea_percent_score }}%</p></li>
                    <li class="list-group-item"><p><strong>Elementary Algebra Total Score: </strong>{{ exam.ea_total_score }}</p></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item"><p><strong>Arithmetic Grade: </strong>{{ exam.a_grade }}</p></li>
                    <li class="list-group-item"><p><strong>Arithmetic Percent Score: </strong>{{ exam.a_percent_score }}%</p></li>
                    <li class="list-group-item"><p><strong>Arithmetic Total Score: </strong>{{ exam.a_total_score }}</p></li>
                </ul>
            </div>
        </div>

    </div>


</div>

<!--For Printing-->
<div class="panel visible-print">
    <h1>{{ exam.l_name }} {{ exam.m_initial }}, {{ exam.f_name }}</h1>
    <h2>English Level: {{ exam.accuplacer_level }}</h2>
    <h2>English Total Score: {{ exam.lu_total_score + exam.ss_total_score + exam.rs_total_score }}</h2>
</div>