<div>

    <h2><span class="label label-default">{{ exams.length }} Total Exams</span></h2><br>
    <label for="search">Search: </label> <input id="search" placeholder="Filter Exams" ng-model="q">
    <label for="search">Essay Number Search: </label> <input type="number" id="search" placeholder="Filter Essay Numbers" ng-model="exam.essay_num">
    <br>
    <div class="panel">
    <table class="table table-hover">
        <thead>
            <th>Exam Number</th>
            <th>Test Date</th>
            <th>Name</th>
            <th>Placement</th>
            <th>Taken</th>
            <th>High School</th>
        </thead>
        <tbody>
        <tr dir-paginate="exam in exams | filter:q | filter:exam:true | itemsPerPage: pageSize" current-page="currentPage">
            <td>{{ exam.essay_num }}</td>
            <td>{{ exam.test_date | date }}</td>
            <td><a href="/view2/{{exam.id}}">{{ exam.l_name }} {{ exam.m_initial }}, {{ exam.f_name }}</a></td>
            <td><p>{{ exam.final_placement_level }}</p></td>
            <td>

                <p></p><span ng-show="exam.taken" class="label label-warning">Yes</span></p>
                <p></p><span ng-show="!exam.taken" class="label label-success">No</span></p>

                <hr>

                {{ exam.taken_year }}

            </td>
            <td>{{ exam.hs }}</td>
        </tr>
        </tbody>
    </table>


    <div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/css/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>

    </div>
</div>
