<div>
    <h1>Placement Exam CSV Upload</h1>

    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="csv"/>
        <br>
        <input class="btn btn-primary" type="submit"/>
    </form>

</div>