<div>
    <div class="hidden-print">
        <h1>Report By Test Dates</h1>

        <h3>Search by Test Date</h3>
        <i>Does not include Exams with level "Cannot Be Placed"</i>
        <form class="form-inline hidden-print" id="SearchDate">
            <div class="form-group">
                <input type="date" class="form-control" id="examDate" ng-model="testDateInput"/>
            </div>

            <div class="form-group">
                <button class="form-control btn btn-primary" ng-click="submitTestDate()">Submit</button>
            </div>
        </form>
        <hr>
        <h3>Search by Test Date Year</h3>
        <i>Includes Exams with level "Cannot Be Placed"</i>
        <div class="row">
            <form class="col-lg-4 form-inline hidden-print" id="SearchYear">
                <div class="form-group">
                    <input type="text" class="form-control" id="examDateYear" ng-model="testYearInput" placeholder="Search by Year"/>
                </div>

                <div class="form-group">
                    <button class="form-control btn btn-primary" ng-click="submitTestYear()">Submit</button>
                </div>
            </form>
                <i>If left blank will not show results.</i>
            <input class="col-lg-2" type="text" ng-model="report.hs" placeholder="Filter High Schools"/>
        </div>
    </div>
    <div>
        <a href="javascript:window.print()" class="btn primary large hidden-print">Print Report</a>
    </div>
    <br>
    <div>
        <table class="table">
            <thead>
            <th>Essay #</th>
            <th>Exam Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Placement</th>
            <th>High School</th>
            </thead>
            <tbody ng-repeat="report in reports | orderBy:'hs' | filter:report:true ">
            <tr>
                <td>{{report.essay_num}}</td>
                <td>{{report.test_date | date : 'shortDate' }}</td>
                <td>{{report.f_name}}</td>
                <td>{{report.l_name}}</td>
                <td>
                    <span ng-if="report.final_placement_level === 'Credit (ENG 101/105)'">English: Credit</span>
                    <span ng-if="report.final_placement_level === 'Level 3 English (ENG 96/98)'">English: Level 3</span>
                    <span ng-if="report.final_placement_level === 'Level 2 English (ENG 86/88)'">English: Level 2</span>
                    <span ng-if="report.final_placement_level === 'Level 1 English (ENG 66/68)'">English: Level 1</span>
                    <span ng-if="report.final_placement_level === 'Cannot Be Placed'">English: Cannot Be Placed</span>
                    <br>
                    <span ng-if="report.ea_total_score + report.a_total_score < 30">Math: Level 1</span>
                    <span ng-if="((report.ea_total_score + report.a_total_score) < 38) && ((report.ea_total_score + report.a_total_score) > 29)">Math: Level 2</span>
                    <span ng-if="((report.ea_total_score + report.a_total_score) < 47) && ((report.ea_total_score + report.a_total_score) > 37)">Math: Level 3</span>
                    <span ng-if="report.ea_total_score + report.a_total_score > 46">Math: Level 4</span>
                </td>
                <td>{{report.hs}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
